/* Google Fonts - Cairo - */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}
body {
    --white-color: #fff;
    --black-color: #333;
    --main-color: #A76772;
    --main-transition: 0.3s;
    --border-radues: 999999px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
}
.container {
    padding: 0 20px;
}
.container h1 {
    text-align: center;
    font-size: 50px;
    color: var(--main-color);
    margin-bottom: 30px;
}
.container .text h3 {
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.container .text p {
    color: var(--black-color);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.container .imgs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}
.container .imgs i {
    font-size: 80px;
    color: var(--main-color);
}
@media (max-width: 767px) {
    .container h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }
}